@import '../../assets/styles/variables';

.container {
  font-family: $regularFont;
  font-size: 24px;
  .price {
    font-weight: 700;
    color: $secondaryColor;
    margin-right: 30px;
  }
  .old {
    font-weight: 500;
    color: $dotColor;
    text-decoration: line-through;
  }
}