@import '../../assets/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 420px;
  height: 100%;
  padding: 30px;
  margin-bottom: 230px;
  font-family: $regularFont;
  border: 3px solid $dotColor;
  border-radius: 20px;
  color: $secondaryColor;
  font-size: 18px;
  font-weight: 400;
  .title {
    font-size: 36px;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 15px;
  }
  .counter {
    display: flex;
    justify-content: space-between;
  }
  .weight {
    display: flex;
    justify-content: space-between;
  }
  .delivery {
    display: flex;
    justify-content: space-between;
  }
  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: $secondaryColor;
    margin: 45px 0 0 0;
  }
  .card {
    display: flex;
  }
}