@import '../../assets/styles/variables';

.btn {
  width: 50%;
  border-radius: 20px;
  padding: 16px 0;
  background: $mainColor;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
  &:hover {
    transition: 0.3s;
    background: $dotColor;
    > .text {
      transition: 0.3s;
      color: $mainColor;
    }
  }
  &:active {
    background: $mainColor;
    > .text {
      color: white;
    }
  }
  .text {
    font-family: $regularFont;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: 0.3s;
  }
}