@import '../../../../assets/styles/variables';

.container {
  display: flex;
  align-items: stretch;
  .minus {
    padding: 5px 10px;
    border: 3px solid $dotColor;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  .counter {
    font-family: $regularFont;
    font-size: 18px;
    width: 15%;
    text-align: center;
    border-top: 3px solid $dotColor;
    border-bottom: 3px solid $dotColor;
    padding: 4px 15px;
    font-weight: 400;
    color: $secondaryColor;
    &:focus-visible {
      outline: none;
    }
  }
  .plus {
    padding: 5px 10px;
    border: 3px solid $dotColor;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
}