@import '../../../assets/styles/variables';


.contacts {
  display: flex;
  flex-direction: column;
  font-family: $regularFont;
  margin-top: 10px;
  .mail {
    margin-top: auto;
    font-weight: 400;
    font-size: 18px;
  }
  span {
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  a {
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 20px;
  }
}