@import '../../assets/styles/variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27%;
  height: 490px;
  border: 3px solid $cardBorderColor;
  border-radius: 20px;
  padding: 30px;
  transition: .3s;
  &:hover {
    border: 3px solid $secondaryColor;
    transition: .3s;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: $regularFont;
    color: $secondaryColor;
    flex: 1;
    .image {
      width: 50%;
      height: 50%;
      margin: 0 auto;
      flex-grow: 0;
    }
    .like {
      position: absolute;
      right: 0;
      cursor: pointer;
      stroke: $dotColor;
      transition: 0.3s;
      &:hover {
        transform: rotateZ(15deg) scale(1.1);
        transition: 0.3s;
        fill: $secondaryColor;
        stroke: $secondaryColor;
      }
    }
    .name {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    .description {
      font-size: 14px;
      font-weight: 400;
    }
  }
}