@import '../../../../assets/styles/variables';

.slider {
  position: relative;
  height: 520px;
  .slide {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    transition: .5s ease-out;
    &:focus-visible {
      outline: none;
    }
  }

  .previousArrow {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    font-size: 55px;
    color: $secondaryColor;
    z-index: 1;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $mainColor;
      transition: .3s;
    }
  }
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    font-size: 55px;
    color: $secondaryColor;
    z-index: 1;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $mainColor;
      transition: .3s;
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .dot {
    margin: 0 15px;
    cursor: pointer;
    font-size: 45px;
    color: $dotColor;
    transition: .3s;
    &:hover {
      color: $secondaryColor;
      transition: .3s;
    }
  }
  .dot_active {
    margin: 0 15px;
    cursor: pointer;
    font-size: 45px;
    color: $secondaryColor;
    transition: .3s;
    &:hover {
      color: $mainColor;
      transition: .3s;
    }
  }
}