@import '../../assets/styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 444px;
  background: $secondaryColor;
  .line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &::before {
    content: '';
    width: 100%;
    height: inherit;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
    background: $secondaryColor;
  }
}