@import '../../assets/styles/variables';

.search {
    width: 530px / 1300px * 100%;
    display: flex;
    border: 3px solid $secondaryColor;
    border-radius: 20px;
    padding: 12px 30px;
    margin: 0 135px;
    transition: all 0.3s ease-out;
    &:hover{
      box-shadow: 0 1px 7px 1px $secondaryColor;
      transition: all 0.3s ease-out;
      > .icon {
        transform: rotateZ(90deg) scale(1.3);
        transition: 0.3s;
      }
    }
    input {
      background: inherit;
      border: none;
      width: 100%;
      margin-left: 15px;
      font-family: $regularFont;
      font-size: 18px;
      font-weight: 500;
      color: $searchColor;
      &:focus-visible{
        outline: none;
      }
      &::placeholder {
        color: $dotColor;
        font-size: 15px;
      }
    }
    .icon {
      transition: 0.3s;
    }
}