@import '/src/assets/styles/variables';

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $secondaryColor;
  border-radius: 10px;
  border: 2px solid white;
  &:hover {
    background: $mainColor;
  }
}


